/* * {
    overflow-x: hidden;
} */

#aqi-desc {
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    background-color: #153462;
    padding-bottom: 3rem;
    align-items: center;
    display: grid;

}

.aqi-detail {
    background-color: #125b86;
    /* background-color: #153462; */
    padding: 2rem;
    border-radius: 20px;
}



.aqi-desc-title {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 2rem;
    line-height: 2;
    color: white;
    /* padding-bottom: 1rem; */
    border-bottom-style: dashed solid;


}


.aqi-desc-info {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    width: 25rem;
    color: white;
    padding-top: 1rem;
}

.aqi-info-pic {
    width: 50rem;
}

.aqi-info-pic2 {
    width: 30rem;
}

.aqi-pictorial-representation {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
    align-items: center;
    background-color: white;
}

.website-info-title {
    font-size: 8rem;
    font-family: 'Poppins', sans-serif;

}

.website-info-desc {
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    width: 50rem;
    color: white;

}

#website-info {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 1rem 8rem 0rem;
    color: white;
}

.air-pollution-img {
    width: 30rem;
    border-radius: 20px;
}



/*------------------------------------------------------------------------------------------------------------------- */
/*---------------------------------------------Pollution Components-------------------------------------------------- */
/*------------------------------------------------------------------------------------------------------------------- */

#pollution-components {
    grid-template-columns: auto auto auto;
    font-family: 'Poppins', sans-serif;
    /* background-color: white; */
    justify-content: center;
    align-items: center;
    padding: 2rem 2rem;
    color: white;
    display: grid;
    gap: 3rem;
    padding-bottom: 5rem;


}

.pollution-components-info-title {
    text-align: left;
    font-size: 2rem;
    line-height: 2;
    color: white;
    font-family: 'Poppins', sans-serif;

}

.pollution-components-heading {
    font-family: 'Poppins', sans-serif;
    padding-bottom: 2rem;
    padding-left: 2rem;
    font-size: 5rem;
    color: white;
}

.pollution-components-info {
    /* background-color: #596FB7; */
    background-color: #125b86;
    border-radius: 20px;
    transition: 300ms;
    padding: 2rem;
    box-shadow: 10px 10px 10px #86B6F6;
    color: white;

}

.pollution-components-info:hover {
    box-shadow: 10px 10px 10px #86B6F6;
    transform: scale(1.05);
    transition: 300ms;
}

a {
    color: white;
    text-decoration: none;
}


.pollution-components-info-text {
    color: white;
    font-family: 'Poppins', sans-serif;
}

/*------------------------------------------------------------------------------------------------------------------- */
/*---------------------------------------------Pollution Components-------------------------------------------------- */
/*------------------------------------------------------------------------------------------------------------------- */

.solution-heading {
    font-family: 'Poppins', sans-serif;
    background-color: white;
    padding-bottom: 2rem;
    text-align: center;
    padding-top: 5rem;
    color: #289BD1;
    font-size: 3rem;
}

#air-pollution-soln {
    grid-template-columns: auto auto auto auto;
    font-family: 'Poppins', sans-serif;
    background-color: white;
    justify-content: center;
    padding-bottom: 5rem;
    align-items: center;
    padding-left: 1rem;
    display: grid;
    gap: 2rem;
}

.air-pollution-soln-img {
    width: 8rem;
    padding: 0 0 1rem 0;
}

.pollution-soln-title {
    font-size: 2rem;
    text-align: center;
}

.air-pollution-soln {

    text-align: center;
    background-color: white;
    padding: 1rem;
    border-radius: 20px;
}

.air-pollution-soln:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 5px #00000090;
    transition: 300ms;
}

.solution-desc {
    text-align: left;
    width: 15rem;
}

.check-aqi-button {

    font-size: 1.4rem;
    border-style: none;
    padding: 0.5rem;
    border-radius: 30px;
    /* background-color: #125b86; */
    background-color: #86B6F6;
    color: white;
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
}