/* * {
    overflow-x: hidden;
} */


#aqi-desc {
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    /* background-color: #153462; */
    padding-bottom: 3rem;
    align-items: center;
    display: grid;
    padding-right: 3rem;
    gap: 0.5rem;
    /* opacity: 0; */

}

.aqi-detail {
    background-color: #125b86;
    /* background-color: #153462; */
    padding: 2rem;
    border-radius: 20px;
    opacity: 0;
}



.aqi-desc-title {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 2rem;
    line-height: 2;
    color: white;
    /* padding-bottom: 1rem; */
    border-bottom-style: dashed solid;


}


.aqi-desc-info {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    width: 25rem;
    color: white;
    padding-top: 1rem;
}

.aqi-info-pic {
    width: 50rem;
}

.aqi-info-pic2 {
    width: 30rem;
}

.aqi-pictorial-representation {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    padding-right: 8rem;
    opacity: 0;
}

.website-info-title {
    font-size: 8rem;
    font-family: 'Poppins', sans-serif;
    color: #289BD1;



}

.website-info-desc {
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    width: 50rem;
    color: #000000;
    padding-bottom: 1rem;

}

.aqi-btn {
    font-family: 'Poppins', sans-serif;
    background-color: #153462;
    border-radius: 30px;
    font-weight: bolder;
    padding: 1rem 4rem;
    width: fit-content;
    transition: 300ms;
    color: #ffffff;
    font-size: 1rem;

    border-style: none
}

.aqi-btn:hover {

    box-shadow: 8px 8px 5px #00000080;
    background-color: #125b86;
    transform: scale(1.04);
    cursor: pointer;

}

#website-info {
    grid-template-columns: auto auto;
    justify-content: space-around;
    padding: 2rem 1rem 8rem 0rem;
    align-items: center;
    color: white;
    display: grid;
}

.air-pollution-img {
    border-radius: 20px;
    width: 30rem;
}



/*------------------------------------------------------------------------------------------------------------------- */
/*---------------------------------------------Pollution Components-------------------------------------------------- */
/*------------------------------------------------------------------------------------------------------------------- */

#pollution-components {
    grid-template-columns: auto auto auto;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    padding-bottom: 2rem;
    padding-right: 5rem;
    align-items: center;
    padding: 2rem 2rem;
    color: white;
    display: grid;
    gap: 2rem;



}

.pollution-components-info-title {
    font-family: 'Poppins', sans-serif;
    text-align: left;
    font-size: 2rem;
    color: white;
    line-height: 2;

}

.pollution-components-heading {
    font-family: 'Poppins', sans-serif;
    padding-bottom: 2rem;
    padding-left: 2rem;
    font-size: 5rem;
    color: #289BD1;
    font-weight: bold;
    opacity: 0;

}

.pollution-components-info {
    /* background-color: #596FB7; */
    background-color: #125b86;
    border-radius: 20px;
    transition: 300ms;
    padding: 2rem;
    /* box-shadow: 20px 20px 10px #86B6F650; */
    box-shadow: 10px 10px 10px #00000080;
    color: white;
    opacity: 0;

}

.pollution-components-info:hover {
    /* box-shadow: 10px 10px 10px #86B6F6; */
    box-shadow: 10px 10px 10px #00000080;

    transform: scale(1.05);
    transition: 300ms;
}

a {
    color: white;
    text-decoration: none;
}


.pollution-components-info-text {
    color: white;
    font-family: 'Poppins', sans-serif;
}

/*------------------------------------------------------------------------------------------------------------------- */
/*---------------------------------------------Pollution Components-------------------------------------------------- */
/*------------------------------------------------------------------------------------------------------------------- */

.solution-heading {
    font-family: 'Poppins', sans-serif;
    background-color: white;
    padding-bottom: 2rem;
    text-align: center;
    padding-top: 5rem;
    color: #289BD1;
    font-size: 3rem;
}

#air-pollution-soln {
    grid-template-columns: auto auto auto auto;
    font-family: 'Poppins', sans-serif;
    background-color: white;
    justify-content: center;
    padding-bottom: 5rem;
    align-items: center;
    padding-left: 1rem;
    display: grid;
    gap: 2rem;
}

.air-pollution-soln-img {
    width: 8rem;
    padding: 0 0 1rem 0;
}

.pollution-soln-title {
    font-size: 2rem;
    text-align: center;
}

.air-pollution-soln {

    transition: scale 300ms;
    text-align: center;
    background-color: white;
    padding: 1rem;
    border-radius: 20px;

}

.air-pollution-soln:hover {
    box-shadow: 5px 5px 5px #00000090;
    scale: 1.0;
}

.solution-desc {
    text-align: left;
    width: 15rem;
}

.check-aqi-button {

    font-size: 1.4rem;
    border-style: none;
    padding: 0.5rem;
    border-radius: 30px;
    /* background-color: #125b86; */
    background-color: #86B6F6;
    color: white;
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
}

.hidden {

    transform: translateX(30px);
    opacity: 1;
}