<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1><%= description %></h1>
    <img src="<%= img %>" alt="" />
    <h2><%= healtheffect %></h2>
    <h3><%= enviromentaleffect %></h3>
  </body>
</html>
