<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/CSS/contact.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <title>AirPulse | Contact-Page</title>
  </head>
  <body>
    <section id="contact-info">
      <div class="text-part">
        <p class="text-title">Liked My work !</p>
      </div>
      <div class="form-part">
        <form>
          <label>Name</label>
          <input type="text" required placeholder="Enter youyr name" />
          <label>Contact Number</label>
          <input type="text" required placeholder="Enter Contact Number" />
          <label>Email Address</label>
          <input type="Email" required placeholder="Enter Mail Id" />
        </form>
      </div>
    </section>
  </body>
</html>
