<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/CSS/contact.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <title>AirPulse | Contact-Page</title>
  </head>
  <body>
    <section id="contact-info">
      <div class="text-part">
        <p class="text-title">Liked My work !</p>
        <p class="hire-text">Want to Hire me</p>
        <p class="about-info">
          Hello, I'm Aditya, a dynamic web developer dedicated to crafting
          visually stunning and functional websites. Let's turn your digital
          dreams into reality with innovative solutions and a commitment to
          excellence. 💻✨
        </p>
        <p class="follow-text">Follow Me On</p>
        <div class="social-pics">
          <a href="https://www.linkedin.com/in/adityasingh04/" target="_blank">
            <img
              class="social-media-img"
              src="/images/socials/linkedin-logo.png"
              alt=""
            />
          </a>
          <a href="https://www.instagram.com/" target="_blank">
            <img
              class="social-media-img"
              src="/images/socials/instagram (4).png"
              alt=""
            />
          </a>
          <a href="https://github.com/ADITYA2004S" target="_blank">
            <img
              class="social-media-img"
              src="/images/socials/github-sign.png"
              alt=""
            />
          </a>
        </div>
      </div>
      <div class="form-part">
        <form method="post" action="/contact" autocomplete="off">
          <p class="form-title">Get In Touch</p>
          <div>
            <label>Name</label>
            <br />
            <input type="text" name="Name" required />
          </div>
          <div>
            <label>Contact Number</label>
            <br />
            <input type="text" name="Number" required />
          </div>
          <div>
            <label>Email Address</label>
            <br />
            <input type="Email" name="Email" required />
          </div>
          <button class="submit-btn">Submit</button>
        </form>
      </div>
    </section>
  </body>
</html>
