<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/CSS/footer.css" />
    <!-- <link rel="stylesheet" href="/CSS/main.css" /> -->
  </head>
  <body>
    <footer class="footer-main-div">
      <div class="footer-part1">
        <p class="footer-part1-title">Preventive measure</p>
        <ol>
          <li>Measure 1</li>
          <li>Measure 1</li>
          <li>Measure 1</li>
          <li>Measure 1</li>
        </ol>
      </div>
      <div class="footer-social">
        <a href=""
          ><img
            class="social-img"
            src="/images/socials/linkedin-logo.png"
            alt=""
        /></a>
        <a href=""
          ><img class="social-img" src="/images/socials/github-sign.png" alt=""
        /></a>
        <a href=""
          ><img
            class="social-img"
            src="/images/socials/instagram (4).png"
            alt=""
        /></a>
      </div>
    </footer>
  </body>
</html>
