<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/CSS/footer.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <!-- <link rel="stylesheet" href="/CSS/main.css" /> -->
  </head>
  <body>
    <footer class="footer-main-div">
      <div class="footer-textbox-container">
        <div class="footer-textbox1">
          <p class="footer-textbox-heading">Heading1</p>
          <ul>
            <li>Text1</li>
            <li>Text2</li>
            <li>Text3</li>
          </ul>
        </div>

        <div class="footer-textbox1">
          <ul>
            <p class="footer-textbox-heading">Heading2</p>
            <li>Text1</li>
            <li>Text2</li>
            <li>Text3</li>
          </ul>
        </div>

        <div class="footer-textbox1">
          <ul>
            <p class="footer-textbox-heading">Heading2</p>
            <li>Text1</li>
            <li>Text2</li>
            <li>Text3</li>
          </ul>
        </div>
      </div>
      <div class="footer-social">
        <a href="https://www.linkedin.com/in/adityasingh04/" target="_blank"
          ><img
            class="social-img"
            src="/images/socials/linkedin-logo.png"
            alt=""
        /></a>
        <a href="https://github.com/ADITYA2004S" target="_blank"
          ><img class="social-img" src="/images/socials/github-sign.png" alt=""
        /></a>
        <a href="https://www.instagram.com/" target="_blank"
          ><img
            class="social-img"
            src="/images/socials/instagram (4).png"
            alt=""
        /></a>
      </div>
    </footer>
  </body>
</html>
