<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/CSS/main-body/main-body.css" />
    <link rel="stylesheet" href="/CSS/main-body/solution.css" />
    <link rel="stylesheet" href="/CSS/main-body/pollution-ranking.css" />
    <link rel="stylesheet" href="/CSS/main-body/media.css">
    <link rel="stylesheet" href="/CSS/main-body/pop-up.css">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <!-- <link rel="stylesheet" href="/CSS/main.css" /> -->
  </head>
  <body>
    <section id="website-info">
      <div>
        <p class="website-info-title">Air Pollution :</p>
        <p class="website-info-desc">
          Step into a world where the air quality is more than just a number  it's a crucial aspect of our daily lives. As we strive for a deeper understanding of our environment, the issue of air pollution takes center stage. Welcome to our platform, where we not only explore the intricacies of air pollution but empower you to monitor and comprehend it through the Air Quality Index (AQI).
        </p>
        <!-- <button class="check-aqi-button">Check AQI</button> -->
      </div>
      <img
        class="air-pollution-img"
        src="/images/main-body/air-pollution-img.jpg"
        alt=""
      />
    </section>

    <section id="aqi-desc">
      <div class="aqi-detail">
        <p class="aqi-desc-title">Understanding AQI:</p>
        <p class="aqi-desc-info">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel esse
          nulla, quod porro recusandae dolor at, tenetur dolores excepturi
          magnam, incidunt explicabo doloribus voluptate repellat? Labore error
          fugit nisi obcaecati?
        </p>
      </div>
      <div class="aqi-detail">
        <p class="aqi-desc-title">Real-Time AQI Monitoring:</p>
        <p class="aqi-desc-info">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel esse
          nulla, quod porro recusandae dolor at, tenetur dolores excepturi
          magnam, incidunt explicabo doloribus voluptate repellat? Labore error
          fugit nisi obcaecati?
        </p>
      </div>
      <div class="aqi-detail">
        <p class="aqi-desc-title">Health Against Air Pollution:</p>
        <p class="aqi-desc-info">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel esse
          nulla, quod porro recusandae dolor at, tenetur dolores excepturi
          magnam, incidunt explicabo doloribus voluptate repellat? Labore error
          fugit nisi obcaecati?
        </p>
      </div>
    </section>

    <!-------------------------------------------------------------------------------------------------------->
    <!-----------------------------------components of pollution--------------------------------------------->
    <!------------------------------------------------------------------------------------------------------->

    <p class="pollution-components-heading">Components of Air Pollution</p>
    <section id="pollution-components">
      <div class="pollution-components-info">
        <a href="/No2"  target="_blank">
          <p class="pollution-components-info-title">NO2</p>
          <p class="pollution-components-info-text">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus
            recusandae dolor laborum voluptate repellendus aut vitae. Iste
            necessitatibus ratione corrupti.
          </p>
        </a>
      </div>
      <div class="pollution-components-info">
        <a href="/So2"  target="_blank">
          <p class="pollution-components-info-title">SO2</p>
          <p class="pollution-components-info-text">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus
            recusandae dolor laborum voluptate repellendus aut vitae. Iste
            necessitatibus ratione corrupti.
          </p>
        </a>
      </div>
      <div class="pollution-components-info">
        <a href="https://en.wikipedia.org/wiki/Particulates"  target="_blank">
          <p class="pollution-components-info-title">PM2.5</p>
          <p class="pollution-components-info-text">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus
            recusandae dolor laborum voluptate repellendus aut vitae. Iste
            necessitatibus ratione corrupti.
          </p>
        </a>
      </div>
      <div class="pollution-components-info">
        <a href="https://en.wikipedia.org/wiki/Particulate_pollution"  target="_blank">
          <p class="pollution-components-info-title">PM10</p>
          <p class="pollution-components-info-text">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus
            recusandae dolor laborum voluptate repellendus aut vitae. Iste
            necessitatibus ratione corrupti.
          </p>
        </a>
      </div>
      <div class="pollution-components-info">
        <a href="/Co"  target="_blank">
          <p class="pollution-components-info-title">CO</p>
          <p class="pollution-components-info-text">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus
            recusandae dolor laborum voluptate repellendus aut vitae. Iste
            necessitatibus ratione corrupti.
          </p>
        </a>
      </div>
      <div class="pollution-components-info">
        <a href="/O3" target="_blank">
          <p class="pollution-components-info-title">O3</p>
          <p class="pollution-components-info-text">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus
            recusandae dolor laborum voluptate repellendus aut vitae. Iste
            necessitatibus ratione corrupti.
          </p>
        </a>
      </div>
    </section>
    <!-------------------------------------------------------------------------------------------------------->
    <!-------------------------------------------------------------------------------------------------------->
    <!------------------------------------------------------------------------------------------------------->

    <div class="aqi-pictorial-representation">
      <img class="aqi-info-pic" src="/images/main-body/AQI-info.png" alt="" />
      <img
        class="aqi-info-pic2"
        src="/images/main-body/AQI-info-pic2.png"
        alt=""
      />
    </div>

    <!-------------------------------------------------------------------------------------------------------->
    <!-----------------------------------Solution for pollution --------------------------------------------->
    <!------------------------------------------------------------------------------------------------------->

    <h1 class="solution-heading">Air Quality Solution For India</h1>
    <section id="air-pollution-soln">
      <div class="air-pollution-soln ">
        <img
          class="air-pollution-soln-img"
          src="/images/main-body/solution/air quality monitor.png"
        />
        <p class="pollution-soln-title">Air Monitor</p>
        <p class="solution-desc">
          Know what the quality your are breathing with Prana Air monitors (low-cost & accurate).
        </p>
      </div>
      <div class="air-pollution-soln  ">
        <img
          class="air-pollution-soln-img"
          src="/images/main-body/solution/air-purifier.png"
        />
        <p class="pollution-soln-title">Air Quality Sensor</p>
        <p class="solution-desc">
          Analyze the quality of air anywhere with accurate & compact gas & pm sensors.
        </p>
      </div>
      <div class="air-pollution-soln  ">
        <img
          class="air-pollution-soln-img"
          src="/images/main-body/solution/purifying.png"
        />
        <p class="pollution-soln-title">Air Purifier</p>
        <p class="solution-desc">
          Purify your indoor air & make it free from air pollution and toxins with our air purifier.
        </p>
      </div>
      <div class="air-pollution-soln  ">
        <img
          class="air-pollution-soln-img"
          src="/images/main-body/solution/medical-mask.png"
        />
        <p class="pollution-soln-title">N95 Mask</p>
        <p class="solution-desc">
          Breathe pure air with Prana Air motorized masks of multi-layer hepa filter purification.
        </p>
      </div>
    </section>

   
    <!-------------------------------------------------------------------------------------------------------->
    <!-------------------------------------------------------------------------------------------------------->
    <!------------------------------------------------------------------------------------------------------->

    <!-------------------------------------------------------------------------------------------------------->
    <!-----------------------------------Most Polluted Cities--------------------------------------------->
    <!------------------------------------------------------------------------------------------------------->
    <h1 class="pollution-rank-heading">
      World's Most Polluted Cities & Countries AQI Ranking
    </h1>
    <section id="pollution-rank">
      <div class="pollution-rankings">
        <div>
          <a href="https://www.aqi.in/real-time-most-polluted-city-ranking" target="_blank">
            <p class="pollutin-ranking-title">Most Polluted Cities</p>
          <p class="ranking-desc"><span class="live">Live</span> 100 Ranking</p>
        </div>
        <img
          class="arrow-img"
          src="/images/main-body/solution/arrow.png"
          alt=""
        />
          </a>
      </div>
      <div class="pollution-rankings">
        <div>
        <a href="https://www.aqi.in/world-most-polluted-cities" target="_blank">
          <p class="pollutin-ranking-title">Worlds Most Polluted</p>
          <p class="ranking-desc">Cities Ranking</p>
        </div>
        <img
          class="arrow-img"
          src="/images/main-body/solution/arrow.png"
          alt=""
        />
        </a>
      </div>
      <div class="pollution-rankings">
        <div>
         <a href="https://www.aqi.in/world-most-polluted-countries" target="_blank">
           <p class="pollutin-ranking-title">Worlds Most Polluted</p>
          <p class="ranking-desc"><b>Country Ranking</b></p>
        </div>
        <img
          class="arrow-img"
          src="/images/main-body/solution/arrow.png"
          alt=""
        />  
         </a>
      </div>
    </section>

 
    
    <!-------------------------------------------------------------------------------------------------------->
    <!-------------------------------------------------------------------------------------------------------->
    <!------------------------------------------------------------------------------------------------------->



    <section id="Media-part">
        <p class="media-part-title">Media Coverage</p>
     
      <div class="media-part-pics" >
        <img class="media-pic" src="/images/media-pics/hindustan-times.png" alt="">
        <img class="media-pic" src="/images/media-pics/Dainik-bhaskar.png" alt="">
        <img class="media-pic" src="/images/media-pics/The-hindu.png" alt="">
        <img class="media-pic" src="/images/media-pics/Dainik-jagran.png" alt="">
        <img class="media-pic" src="/images/media-pics/times-of-india.png" alt="">
        <img class="media-pic" src="/images/media-pics/the-indian-exp.png" alt="">
        <img class="media-pic" src="/images/media-pics/hindustan-times.png" alt="">
      </div>
    </section>

    <script src="/intersection-observer.js"></script>
    <script src="/javaScript/Typewriter.js" ></script>
  </body>
</html>
