<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/CSS/main-body.css" />
  </head>
  <body>
    <section id="aqi-desc">
      <div class="aqi-desc">
        <p class="aqi-desc-title">What Is AQI</p>
        <p class="aqi-desc-info">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel esse
          nulla, quod porro recusandae dolor at, tenetur dolores excepturi
          magnam, incidunt explicabo doloribus voluptate repellat? Labore error
          fugit nisi obcaecati?
        </p>
      </div>
      <div class="aqi-desc">
        <p class="aqi-desc-title">What Is AQI</p>
        <p class="aqi-desc-info">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel esse
          nulla, quod porro recusandae dolor at, tenetur dolores excepturi
          magnam, incidunt explicabo doloribus voluptate repellat? Labore error
          fugit nisi obcaecati?
        </p>
      </div>
      <div class="aqi-desc">
        <p class="aqi-desc-title">What Is AQI</p>
        <p class="aqi-desc-info">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel esse
          nulla, quod porro recusandae dolor at, tenetur dolores excepturi
          magnam, incidunt explicabo doloribus voluptate repellat? Labore error
          fugit nisi obcaecati?
        </p>
      </div>
    </section>
    <div class="aqi-pictorial-representation">
      <img class="aqi-info-pic" src="/images/main-body/AQI-info.png" alt="" />
      <img
        class="aqi-info-pic2"
        src="/images/main-body/AQI-info-pic2.png"
        alt=""
      />
    </div>
  </body>
</html>
