<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/CSS/main-body/main-body.css" />
    <link rel="stylesheet" href="/CSS/main-body/solution.css" />
    <link rel="stylesheet" href="/CSS/main-body/pollution-ranking.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <!-- <link rel="stylesheet" href="/CSS/main.css" /> -->
  </head>
  <body>
    <section id="website-info">
      <div>
        <p class="website-info-title">Air Pollution :</p>
        <p class="website-info-desc">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste quasi
          sint assumenda, doloribus totam laudantium magni voluptatibus alias
          consectetur facere fuga velit? Provident deleniti officiis veniam
          eaque distinctio corrupti nulla excepturi dignissimos vitae tenetur
          repudiandae saepe, eveniet corporis. Cum, adipisci.
        </p>
        <!-- <button class="check-aqi-button">Check AQI</button> -->
      </div>
      <img
        class="air-pollution-img"
        src="/images/main-body/air-pollution-img.jpg"
        alt=""
      />
    </section>

    <section id="aqi-desc">
      <div class="aqi-detail">
        <p class="aqi-desc-title">What Is AQI</p>
        <p class="aqi-desc-info">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel esse
          nulla, quod porro recusandae dolor at, tenetur dolores excepturi
          magnam, incidunt explicabo doloribus voluptate repellat? Labore error
          fugit nisi obcaecati?
        </p>
      </div>
      <div class="aqi-detail">
        <p class="aqi-desc-title">What Is AQI</p>
        <p class="aqi-desc-info">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel esse
          nulla, quod porro recusandae dolor at, tenetur dolores excepturi
          magnam, incidunt explicabo doloribus voluptate repellat? Labore error
          fugit nisi obcaecati?
        </p>
      </div>
      <div class="aqi-detail">
        <p class="aqi-desc-title">What Is AQI</p>
        <p class="aqi-desc-info">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel esse
          nulla, quod porro recusandae dolor at, tenetur dolores excepturi
          magnam, incidunt explicabo doloribus voluptate repellat? Labore error
          fugit nisi obcaecati?
        </p>
      </div>
    </section>

    <!-------------------------------------------------------------------------------------------------------->
    <!-----------------------------------components of pollution--------------------------------------------->
    <!------------------------------------------------------------------------------------------------------->

    <p class="pollution-components-heading">Components of Air Pollution</p>
    <section id="pollution-components">
      <div class="pollution-components-info">
        <a href="https://en.wikipedia.org/wiki/Nitrogen_dioxide">
          <p class="pollution-components-info-title">NO2</p>
          <p class="pollution-components-info-text">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus
            recusandae dolor laborum voluptate repellendus aut vitae. Iste
            necessitatibus ratione corrupti.
          </p>
        </a>
      </div>
      <div class="pollution-components-info">
        <a href="https://en.wikipedia.org/wiki/Sulfur_dioxide">
          <p class="pollution-components-info-title">SO2</p>
          <p class="pollution-components-info-text">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus
            recusandae dolor laborum voluptate repellendus aut vitae. Iste
            necessitatibus ratione corrupti.
          </p>
        </a>
      </div>
      <div class="pollution-components-info">
        <a href="https://en.wikipedia.org/wiki/Particulates">
          <p class="pollution-components-info-title">PM2.5</p>
          <p class="pollution-components-info-text">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus
            recusandae dolor laborum voluptate repellendus aut vitae. Iste
            necessitatibus ratione corrupti.
          </p>
        </a>
      </div>
      <div class="pollution-components-info">
        <a href="https://en.wikipedia.org/wiki/Particulate_pollution">
          <p class="pollution-components-info-title">PM10</p>
          <p class="pollution-components-info-text">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus
            recusandae dolor laborum voluptate repellendus aut vitae. Iste
            necessitatibus ratione corrupti.
          </p>
        </a>
      </div>
      <div class="pollution-components-info">
        <a href="https://en.wikipedia.org/wiki/Carbon_monoxide">
          <p class="pollution-components-info-title">CO</p>
          <p class="pollution-components-info-text">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus
            recusandae dolor laborum voluptate repellendus aut vitae. Iste
            necessitatibus ratione corrupti.
          </p>
        </a>
      </div>
      <div class="pollution-components-info">
        <a href="https://en.wikipedia.org/wiki/Ozone">
          <p class="pollution-components-info-title">O3</p>
          <p class="pollution-components-info-text">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus
            recusandae dolor laborum voluptate repellendus aut vitae. Iste
            necessitatibus ratione corrupti.
          </p>
        </a>
      </div>
    </section>
    <!-------------------------------------------------------------------------------------------------------->
    <!-------------------------------------------------------------------------------------------------------->
    <!------------------------------------------------------------------------------------------------------->

    <div class="aqi-pictorial-representation">
      <img class="aqi-info-pic" src="/images/main-body/AQI-info.png" alt="" />
      <img
        class="aqi-info-pic2"
        src="/images/main-body/AQI-info-pic2.png"
        alt=""
      />
    </div>

    <!-------------------------------------------------------------------------------------------------------->
    <!-----------------------------------Solution for pollution --------------------------------------------->
    <!------------------------------------------------------------------------------------------------------->

    <h1 class="solution-heading">Air Quality Solution For India</h1>
    <section id="air-pollution-soln">
      <div class="air-pollution-soln">
        <img
          class="air-pollution-soln-img"
          src="/images/main-body/solution/air quality monitor.png"
        />
        <p class="pollution-soln-title">Heading</p>
        <p class="solution-desc">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam
          dolor error tenetur magnam repudiandae alias.
        </p>
      </div>
      <div class="air-pollution-soln">
        <img
          class="air-pollution-soln-img"
          src="/images/main-body/solution/air-purifier.png"
        />
        <p class="pollution-soln-title">Heading</p>
        <p class="solution-desc">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam
          dolor error tenetur magnam repudiandae alias.
        </p>
      </div>
      <div class="air-pollution-soln">
        <img
          class="air-pollution-soln-img"
          src="/images/main-body/solution/purifying.png"
        />
        <p class="pollution-soln-title">Heading</p>
        <p class="solution-desc">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam
          dolor error tenetur magnam repudiandae alias.
        </p>
      </div>
      <div class="air-pollution-soln">
        <img
          class="air-pollution-soln-img"
          src="/images/main-body/solution/medical-mask.png"
        />
        <p class="pollution-soln-title">Heading</p>
        <p class="solution-desc">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam
          dolor error tenetur magnam repudiandae alias.
        </p>
      </div>
    </section>
    <!-------------------------------------------------------------------------------------------------------->
    <!-------------------------------------------------------------------------------------------------------->
    <!------------------------------------------------------------------------------------------------------->

    <!-------------------------------------------------------------------------------------------------------->
    <!-----------------------------------Most Polluted Cities--------------------------------------------->
    <!------------------------------------------------------------------------------------------------------->
    <h1 class="pollution-rank-heading">
      World's Most Polluted Cities & Countries AQI Ranking
    </h1>
    <section id="pollution-rank">
      <div class="pollution-rankings">
        <div>
          <p class="pollutin-ranking-title">Most Polluted Cities</p>
          <p class="ranking-desc"><span class="live">Live</span> 100 Ranking</p>
        </div>
        <img
          class="arrow-img"
          src="/images/main-body/solution/arrow.png"
          alt=""
        />
      </div>
      <div class="pollution-rankings">
        <div>
          <p class="pollutin-ranking-title">Worlds Most Polluted</p>
          <p class="ranking-desc">Cities Ranking</p>
        </div>
        <img
          class="arrow-img"
          src="/images/main-body/solution/arrow.png"
          alt=""
        />
      </div>
      <div class="pollution-rankings">
        <div>
          <p class="pollutin-ranking-title">Worlds Most Polluted</p>
          <p class="ranking-desc"><b>Country Ranking</b></p>
        </div>
        <img
          class="arrow-img"
          src="/images/main-body/solution/arrow.png"
          alt=""
        />
      </div>
    </section>
    <!-------------------------------------------------------------------------------------------------------->
    <!-------------------------------------------------------------------------------------------------------->
    <!------------------------------------------------------------------------------------------------------->
  </body>
</html>
