<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>App Pollution</title>
    <link rel="stylesheet" href="/CSS/navbar.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <!-- <link rel="stylesheet" href="/CSS/main.css" /> -->
  </head>
  <body>
    <nav>
      <div class="navbar-desc">
        <img
          class="navbar-logo"
          src="/images/nav-images/navbar-logo.png"
          alt="logo"
        />
        <p class="navbar-title">AirPulse</p>
      </div>

      <div class="navbar-links">
        <ol>
          <li><a href="">About Us</a></li>
          <li><a href="">Contact Us</a></li>
          <li><a href="">AQI</a></li>
        </ol>
      </div>
      <form action="/result" method="post">
        <input type="text" name="city" />
        <input type="submit" />
      </form>
    </nav>
  </body>
</html>
