body {
    margin: 0;
    background-image: url(../images/AQI-background/pexels-zabala-trusido-17160014.jpg);
    background-size: cover;
    /* overflow-y: hidden; */
}

.background-img {
    height: 100vh;
    position: relative;

}

.form {
    text-align: center;
}

.input-title {
    font-size: 3rem;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;

}

.AQI-search-cityname {
    font-size: 1.5rem;
    border-radius: 10px;
    padding: 0.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.AQI-search-btn {
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
    padding: 0.3rem 1rem;
    transition: 500ms;
    box-shadow: 5px 5px 5px black;

}

/* .AQI-search-btn:hover {
    transform: scale(1.05);
    transition: 500ms;
} */

.AQI-search-btn:active {
    transform: translateY(10px);
}

.AQI-result-heading {
    text-align: center;
    font-size: 3rem;
    font-family: 'Poppins', sans-serif;

}

.AQI-component {
    font-size: 2rem;
    color: white;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    background-color: #00000070;
    padding: 1rem;
    border-radius: 20px;
    box-shadow: 5px 5px black;
    /* padding-bottom: 2.5rem; */

}

.AQI-search-result {
    text-align: center;
    z-index: 1;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    /* background-color: #ffffff50; */

}

.no2-img {
    width: 8rem;
    background-color: #ffffff60;
}

.AQI-search-result-background {
    background-color: #ffffff90;
    width: fit-content;
    margin: auto;
    padding: 1rem 5rem 2rem 5rem;
    margin-top: 3rem;
    border-radius: 20px;

}

#AQI-search {
    padding-bottom: 5rem;
}

.hidden {
    display: none;
}