body {
    margin: 0;
    background-image: url(../images/AQI-background/pexels-zabala-trusido-17160014.jpg);
    background-size: cover;
    /* overflow-y: hidden; */
}

.background-img {
    height: 100vh;
    position: relative;

}



.form {
    text-align: center;
}

.input-title {
    font-size: 3rem;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;

}

.AQI-search-cityname {
    font-size: 1.5rem;
    border-radius: 10px;
    padding: 0.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.AQI-search-btn {
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
    padding: 0.3rem 1rem;
    transition: 500ms;
    box-shadow: 5px 5px 5px black;
    cursor: pointer;
    border-style: none;
}





/* .AQI-search-btn:hover {
    transform: scale(1.05);
    transition: 500ms;
} */

.AQI-search-btn:active {
    transform: translateY(10px);

}



.AQI-result-heading {
    text-align: center;
    font-size: 3rem;
    font-family: 'Poppins', sans-serif;

}

.AQI-component {
    font-size: 2rem;
    padding: 0.5rem 0.5rem;
    color: white;
    font-family: 'Poppins', sans-serif;
    background-color: #00000080;
    border-radius: 20px;
    box-shadow: 0 0 20px black;
    /* padding-bottom: 2.5rem; */

}

.AQI-search-result {
    text-align: center;

    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
    gap: 2rem;


}

.no2-img {
    width: 8rem;
    background-color: #ffffff60;
}

.AQI-search-result-background {
    background-color: #ffffff90;
    width: fit-content;
    margin: auto;
    margin-top: 3rem;
    border-radius: 20px;
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;

}

#AQI-search {
    padding-bottom: 5rem;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
    align-items: center;

}



.AQI-output-heading {
    color: black;
}

.AQI-city-heading {
    font-size: 3rem;
    padding: 0 1rem;
    font-family: 'Poppins', sans-serif;

}

input {
    border-style: none;
    background-color: #ffffff60;
    outline: unset;
    height: 50px;

}

input::placeholder {
    color: white;
}

input[type=text]:focus {
    box-shadow: 0 0 30px #ffffff;
    border-style: none;
}





@media((width<1024px) and (width>=768px)) {
    .AQI-city-heading {
        font-size: 2rem;
    }

    .input-title {
        font-size: 2rem;
    }

    input {
        height: 40px;
    }

    .AQI-component {
        font-size: 1.5rem;
    }
}

@media ((width<768px) and (width>425px)) {
    .AQI-city-heading {
        display: none;
    }

    #AQI-search {
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
        align-items: center;
    }

    .input-title {
        font-size: 2rem;
        padding-bottom: 0;
    }

    input {
        height: 30px;
    }

    .AQI-component {
        font-size: 1.5rem;
        border-radius: 10;
        padding: 10px 10px;
    }
}