body {
    /* background-image: linear-gradient(180deg, #141E30, #243B55); */
    /* background-color: #153462; */
    /* color: white; */
    /* background-image: url(../images/pollution-components/component-background-img.jpg);
    background-size: cover; */
    margin: 0;


}



.component-desc {
    font-family: 'Poppins', sans-serif;
    padding: 0 1rem 0 0;
    font-size: 2rem;



}

.component-health-desc {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;



}

.component-eviroment-desc {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;



}

.introduction {
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
    display: grid;


}

.health-title {
    font-family: 'Poppins', sans-serif;
    padding-bottom: 1.5rem;
    text-align: center;
    font-size: 4rem;
    line-height: 1;




}

.enviroment-heading {
    font-family: 'Poppins', sans-serif;
    padding: 2rem 0 1.5rem 0;
    width: fit-content;
    font-size: 4rem;
    line-height: 1;
    margin: auto;


}

.component-health-desc {
    font-family: 'Poppins', sans-serif;
    text-align: justify;
    padding: 1rem 3rem;



}

.component-eviroment-desc {
    font-family: 'Poppins', sans-serif;
    text-align: justify;
    padding: 2rem 3rem;


}