* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url(../images/contact-page/contact-page-img\ .jpg);
    background-size: cover;
    /* background-size: auto; */

}

#contact-info {
    justify-content: space-evenly;
    grid-template-columns: auto auto;
    align-items: center;
    height: 100dvh;
    display: grid;

    /* text-align: center; */
}

.text-title {
    font-family: 'Poppins', sans-serif;
    font-size: 4rem;
    color: white;
    padding-top: 4rem;

}

form {
    background-color: #00000070;
    grid-template-columns: auto;
    border-radius: 10px;
    padding: 1rem 6rem;
    display: grid;
    gap: 2rem;
    box-shadow: 0 0 250px #ffffff60;

}

input {
    font-family: 'Poppins', sans-serif;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 40px;
    color: #ffffffc0;
    width: fit-content;
    padding-left: 1rem;
    font-size: 1.5rem;
    padding: 0.5rem;
    height: 1.5rem;
    outline: unset;
    margin: auto;

}



input[type=text]:focus,
input[type=email]:focus {
    box-shadow: 0 0 20px white;
}

label {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    color: white;
}

.hire-text {
    font-family: 'Poppins', sans-serif;
    /* text-align: center; */
    font-size: 2rem;
    color: white;
}

.text-part {
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
    height: fit-content;
    display: grid;



}

.submit-btn {
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff90;
    padding: 0.8rem 2rem;
    border-radius: 40px;
    border-style: none;
    width: fit-content;
    font-size: 1.2rem;
    transition: 300ms;
    margin: auto;
}

.submit-btn:hover {
    background-color: #ffffffd0;
    transform: scale(1.1);
    box-shadow: 0 0 30px white;

}

.about-info {
    font-family: 'Poppins', sans-serif;
    text-align: justify;
    font-size: 1.4rem;
    font-weight: bolder;
    color: #ffffff;
    padding-top: 3.2rem;
    width: 40rem;
    line-height: 1.4;
    padding-left: 3rem;

    /* padding-bottom: 8rem; */

}

.form-title {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 4rem;
}

.social-media-img {
    width: 2rem;
    transition: 300ms;

}

.follow-text {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: #ffffff;
    font-size: 2rem;
}

.social-pics {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.social-media-img:hover {
    transform: scale(1.2);
    cursor: pointer;
}

@media (width<=1440px) {
    form {
        padding-top: 0;

        padding-bottom: 1rem;
    }

    .about-info {
        width: 30rem;
        padding-top: 1rem;
    }

    #contact-info {
        gap: 2rem;
    }

    .text-title {
        font-size: 3rem;
        text-align: center;
    }

    .hire-text {
        text-align: center;
    }

    .form-title {
        font-size: 3rem;
    }

    label {
        font-size: 1rem;
    }

    .follow-text {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}