   .footer-part1-title {
       /* color: white; */
       font-family: 'Poppins', sans-serif;
       font-size: 1rem;
       font-weight: bold;
   }

   footer {
       background-color: #153462;
   }

   li {
       list-style: none;
   }

   .social-img {
       width: 2rem;
       padding: 1rem;
       transition: 500ms;
   }

   .social-img:hover {
       transform: scale(1.2);

   }

   .footer-main-div {
       grid-template-columns: auto auto;
       justify-content: space-between;
       align-items: center;
       display: grid;
       color: white;
       font-family: 'Poppins', sans-serif;
       padding: 2rem 0 2rem 5rem;



   }

   .footer-textbox-heading {
       font-size: 2rem;

   }

   li {
       text-align: center;
       transition: 300ms;

   }

   li:hover {
       transform: translateX(-5px);
       transition: 300ms;
   }

   .footer-textbox-container {
       display: grid;
       grid-template-columns: auto auto auto;
       justify-content: space-between;
       align-items: center;
       gap: 5rem;
   }

   /* 
   @media(width<=768px) {
       .footer-main-div {
           display: grid;
           grid-template-columns: auto;
           justify-content: center;
           align-items: center;
           padding-bottom: 0;
       }

       .footer-textbox-container {
           display: grid;
           grid-template-columns: auto auto auto;
           justify-content: center;
           align-items: center;
       }

       .footer-social {
           text-align: center;
           padding-top: 1rem;
       }
   } */



   @media ((width<1024px) and (width>=768px)) {
       .footer-textbox-heading {
           font-size: 1.5rem;
       }

       li {
           font-size: rem;
       }

       .social-img {
           width: 1.5rem;
       }

       .footer-main-div {
           grid-template-columns: auto auto;
           justify-content: center;
           align-items: center;
           display: grid;
           color: white;
       }

       .footer-textbox-container {
           display: grid;
           grid-template-columns: auto auto auto;
           justify-content: center;
           align-items: center;

       }

       .footer-social {
           display: grid;
           grid-template-columns: auto auto auto;
           justify-content: center;
           align-items: center;
           padding-top: 1rem;

       }

       .footer-main-div {
           display: grid;
           grid-template-columns: auto;
           justify-content: center;
           align-items: center;
       }

       .social-img {
           width: 2rem
       }


   }

   @media (width<=321px) {

       .footer-textbox-container {
           display: none;
       }

       .social-img {
           width: 1.5rem;
       }

       .footer-textbox-heading {
           font-size: 1.25rem;
       }

       li {
           font-size: 0.8rem;
       }

   }

   @media (width<376px) {
       .footer-textbox-container {
           display: none;
       }

       .footer-main-div {
           grid-template-columns: auto;
           justify-content: center;
           align-items: center;
           display: grid;
           color: white;
           font-family: 'Poppins', sans-serif;
           padding: 1rem 3rem 0rem 2rem;
       }

       .footer-textbox-heading {
           font-size: 1rem;
       }

       li {
           font-size: 0.8rem;
       }

       .social-img {
           width: 1.5rem;
       }
   }

   @media (width<465px) {
       .footer-textbox-container {
           display: none;
       }

       .footer-social {
           display: grid;
           grid-template-columns: auto auto auto;
           justify-content: center;
           align-items: center;
           padding-left: 3rem;
       }
   }