    body {
        background-color: #153462;
    }

    .footer-part1-title {
        /* color: white; */
        font-family: 'Poppins', sans-serif;
        font-size: 1rem;
        font-weight: bold;
    }

    li {
        list-style: none;
    }

    .social-img {
        width: 2rem;
        padding: 2rem;
        transition: 500ms;
    }

    .social-img:hover {
        transform: scale(1.2);
        transition: 500ms;
    }

    .footer-main-div {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-between;
        align-items: center;
    }