* {
    margin: 0;
    padding: 0;
}

nav {
    grid-template-columns: auto auto;
    justify-content: space-between;
    background-color: #153462;
    /* background-color: #0C356A; */
    align-items: start;
    display: grid;

}

.navbar-logo {
    width: 10rem;
}


.navbar-desc {
    justify-content: space-evenly;
    grid-template-columns: auto auto;
    align-items: center;
    display: grid;
}

ol {
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;
    padding-right: 2rem;
    list-style: none;
    display: grid;
    gap: 2rem;
}

.navbar-links {
    margin-top: 2rem;
    font-family: 'Poppins', sans-serif;
    color: white;
}

li {
    transition: 500ms;

}

li:hover {
    transform: scale(1.2);
    transition: 500ms;
}

li>a {
    text-decoration: none;
    color: white;
}


.navbar-title {
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    color: white;
    font-size: 3rem;
}